@inject MqttService service
@page "/"
@using CoordinateProvider.Services

<PageTitle>Index</PageTitle>
<div>
    <img src="RedDot.png" style="position:absolute; left: @(model.x)px; top: @(model.y)px;"/>
    <img src="Map.png" @onclick="Callback"/>
</div>
<div>
    <EditForm Model="model">
        <InputText @bind-Value="model.EmployeeId"></InputText>
    </EditForm>
</div>

@code {
    private FieldModel model = new FieldModel();

    private async Task Callback(MouseEventArgs eventArgs)
    {
        double x = eventArgs.ClientX;
        double y = eventArgs.ClientY;
        model.x = x-10;
        model.y = y-10;
        StateHasChanged();
        await service.PublishEmployeeIdAsync(model.EmployeeId, x-275, y-325);
    }

    private class FieldModel
    {
        public string EmployeeId { get; set; } = "1234";
        public double x = 100+275-10;
        public double y = 100+325-10;
    }

}